<div class="forms" data-controller="select2">
  <div class="main-content">
    <div class="back-button">
      <%= link_to 'â†', portfolio_path(@portfolio), class: 'btn btn-link back' %>
    </div>
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-6 offset-lg-3">
            <h1 class="text-center">Add a new entry</h1>
            <%= simple_form_for [@portfolio, @entry] do |f| %>
            <div class="hidden" data-coins="<%= @coins.to_json %>" data-select2-target="coins"></div>
              <%= f.association :coin, prompt: 'Select a cryptocurrency', input_html: { data: { select2_target: 'input' } } %>
              <%= f.number_field :amount, placeholder: 'Enter the amount', step:"0.000001", min:"0", class:"amount-input" %>
              <%= f.input :buying_price, placeholder: 'Buying price: $USD', input_html: { data: { select2_target: "price" } } %>
              <div class="d-flex align-items-center justify-content-center mt-5">
                <%= f.submit class: 'btn btn-flat' %>
            </div>
            <% end %>
          </div>
      </div>
      <div class="coins-list d-flex">
            <div class="coins1-card">
            </div>
            <div class="coins2-card">
            </div>
            <div class="coins3-card">
            </div>
      </div>
    </div>
  </div>
</div>
