<div class="portfolios-index">
  <div class="back-add-button">
    <%= link_to 'â†', root_path, class: 'btn btn-link back' %>
    <div class="d-flex justify-content-end">
      <%= link_to new_portfolio_path, class: 'btn btn-flat' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
  <% if current_user.portfolios.empty? %>
  <div class="no-entries text-center">
    <h2>Do not have a Portfolio yet... ðŸ¤”</h2>
    <h1>Create one now for FREE !</h1>
  </div>

  <% else %>
    <div class="portfolio-index">
      <div class="row">
        <div class="col col-lg-6 h-100">
          <div class="">
              <div class="portfolios-text">
                <p> Your Portfolios :</p>
              </div>
              <div class="coins-background-portfolio">
                <%= image_tag("coins-image4.png", class: "coin-image") %>
              </div>
          </div>
        </div>
        <div class="col col-lg-6">
            <div class="portfolios-card">
              <table>
               <tbody>
                <% current_user.portfolios.each do |portfolio| %>
                <tr>
                  <td><%= link_to portfolio.name, portfolio, class:'portfolio-links' %></td>
                  <td>
                    <small>Total value</small>
                    <p class="m-0">$ <%= number_with_delimiter(portfolio.fetch_value.round(2), delimiter: ",", separator: ".") %></p>
                  </td>
                  <td>
                    <small>P/L</small>
                    <p class="m-0">$ <%= number_with_delimiter(portfolio.fetch_value.round(2), delimiter: ",", separator: ".") %></p>
                  </td>
                  <td>
                    <div class="d-flex justify-content-end">
                      <%= link_to image_tag("edit-icon.png", class: 'icon-edit-delete'), edit_portfolio_path(portfolio), class: 'btn btn-cancel' %>
                      <%= link_to image_tag('delete-icon.png', class: 'icon-edit-delete'), portfolio_path(portfolio), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this Portfolio?' } %>
                    </div>
                  </td>
                </tr>
                <% end %>
               </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
