<div class="main-content">
  <div class="back-add-button">
    <%= link_to 'â†', portfolios_path, class: 'btn btn-link', style: 'font-size: 40px; text-decoration: none; padding-top: 0; color: #FF14BC' %>
  <h1><%= @portfolio.name %></h1>
    <div class="d-flex justify-content-end">
        <%= link_to new_portfolio_entry_path(@portfolio), class: 'btn btn-flat', style: 'height: 38px' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
  </div>

<div class="market-table">
  <table>
    <tr style="background-color: #202124">
      <th>Name</th>
      <th>Symbol</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Total Value</th>
      <th>P/L</th>
        <th>Action</th>
        <th></th>
    </tr>
    <% @portfolio.entries.each do |entry| %>
    <tr>
      <td><%= link_to entry.coin.name, coin_path, style: 'color: #FF14BC; text-decoration: none' %></td>
      <td><%= entry.coin.symbol %></td>
      <td><%= entry.amount %></td>
      <td><%= entry.buying_price %> $</td>
      <td><%= entry.amount * entry.buying_price %> $</td>
      <td><%= entry.amount * entry.buying_price %> $</td>
      <td><%= link_to image_tag("edit-icon.png", class: 'icon-edit-delete'), edit_entry_path(entry), class: 'btn btn-cancel' %></td>
      <td><%= link_to image_tag('delete-icon.png', class: 'icon-edit-delete'), entry_path(entry), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this Portfolio?' } %></td>
    </tr>
    <% end %>
  </table>
</div>
