<div class="wrapper">
  <div class="main-content">
    <div class="back-add-button">
      <%= link_to 'â†', portfolios_path, class: 'btn btn-link back' %>
      <div class="d-flex justify-content-end">
        <%= link_to new_portfolio_entry_path(@portfolio), class: 'btn btn-flat' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>

      <div class="market-table">
          <% if @portfolio.entries.empty? %>
          <div class="no-entries text-center">
            <h2>You don't have any entries yet...</h2>
            <h1>Hit the + to add one! ðŸ¤‘</h1>
          </div>
          <% else %>
        <div class="row">
          <div class="col col-lg-7">
            <div class="card-entries">
                <% @portfolio.entries.each do |entry| %>
              <div class="entry-card">
                <div class="card-symbol d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <%= image_tag(entry.coin.image_url, class: "avatar-small mr-2") %>
                    <p class="m-0"><%= entry.coin.symbol.upcase %></p>
                  </div>
                  <p class="m-0">7D</p>
                </div>
                <div class="card-price text-center"><h3>$ <%= number_with_delimiter(entry.coin.price, delimiter: ",", separator: ".") %></h3></div>
                <canvas class="chart" id="chart" data-history="<%= entry.coin.history_seven %>"> %</canvas>
                <div class="card-percentage d-flex justify-content-end"><%= entry.coin.percentage_24.to_f.round(2) %> %</div>
              </div>
                <% end %>
            </div>
          </div>

          <div class="col col-lg-5">
            <div class="portfolio-info pb-4">
                <h3><%= @portfolio.name %></h3>
                <div class="text-center">
                  <h1>$ <%= number_with_delimiter(@portfolio.fetch_value.round(2), delimiter: ",", separator: ".") %></h1>
                </div>
            </div>
            <table>
              <tr style="background-color: #202124">
                <th>Name</th>
                <th>Price</th>
                <th>Holdings</th>
                <th>P/L</th>
                <th>Action</th>
              </tr>
              <% @portfolio.entries.each do |entry| %>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                  <%= image_tag(entry.coin.image_url, class: "avatar mr-4") %>
                  <%= link_to entry.coin.name, coin_path(entry.coin), style: 'color: white; text-decoration: none' %>
                  </div>
                </td>
                <td>$ <%= entry.coin.price %></td>
                <td>
                  <p class="m-0">$ <%= number_with_delimiter((entry.amount * entry.coin.price).to_f, delimiter: ",", separator: ".") %></p>
                  <small><%= entry.amount.to_f %> <%= entry.coin.symbol.upcase %></small>
                </td>
                <td>$ <%= ((entry.amount * entry.coin.price) - (entry.amount * entry.buying_price)).round(2) %></td>
                <td>
                <div class="d-flex justify-content-around">
                  <%= link_to image_tag("edit-icon.png", class: 'icon-edit-delete'), edit_entry_path(entry), class: 'btn btn-cancel' %>
                  <%= link_to image_tag('delete-icon.png', class: 'icon-edit-delete'), entry_path(entry), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this Portfolio?' } %>
                </div>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
          <% end %>
      </div>
  </div>
</div>
