<div class="backgroundwatch">
</div>
  <div class="market-title">
    <h1>Keep track of your favorite coins!</h1>
  </div>
  <table class="table-market">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>24h. %</th>
    </tr>
    <% @favorites.each do |coin| %>
      <tr>
        <td>
          <div class="d-flex justify-content-center">
            <% if signed_in? %>
              <% if current_user.favorited?(coin) %>
                <%= link_to coin_unfavorite_path(coin), method: "post", remote: true do  %>
                  <i class="fas fa-star mr-3"></i>
                <% end %>
              <% else %>
                <%= link_to coin_favorite_path(coin), method: "post", remote: true do  %>
                  <i class="far fa-star mr-3"></i>
                <% end %>
              <% end %>
            <% else %>
                <%= link_to new_session_path do  %>
                  <i class="far fa-star mr-3"></i>
                <% end %>
            <% end %>
            <%= coin.market_cap_rank %>
          </div>
        </td>
        <td>
          <div class="coin-logo-favorite">
            <div class="d-flex align-items-center justify-content-start">
              <h2><%= image_tag(coin.image_url, class: "avatar-small mr-2") %></h2>
              <%= link_to coin.name, coin %>
            </div>
          </div>
        </td>
        <td><%= coin.symbol.upcase %></td>
        <td><%= number_with_delimiter(coin.price.round(2), delimiter: ",", separator: ".") %> $</td>
        <td>
        <% icon = coin.percentage_24.to_f.round(2) > 0 ? "up" : "down" %>
        <div class="d-flex align-items-center justify-content-center">
          <i class='<%= "fas fa-chevron-#{icon} #{icon} mr-2" %>'></i>
          <p class="<%= coin.percentage_24.to_f.round(2) > 0 ? "up" : "down" %> m-0">
          <%= coin.percentage_24.to_f.round(2) %> %
        </div>
        </td>
      </tr>
    <% end %>
  </table>
